<nav class="navbar navbar-expand-sm navbar-light " style="background:  #6667AB;height: 68px;">
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <a class="navbar-brand" href="#" style="color: #F88F58; font-weight:bolder; font-size:xx-large;">SQUADMATE</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>